<?xml version='1.0' encoding='utf-8'?>
<plugin id="chat1v1.chatcall" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ChatCall</name>
    <js-module name="ChatCall" src="www/ChatCall.js">
        <clobbers target="cordova.plugins.ChatCall" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ChatCall">
                <param name="ios-package" value="ChatCall" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/AVCallDefines.h" />
        <header-file src="src/ios/VideoChatInfo.h" />
        <header-file src="src/ios/VideoChatInstance.h" />
        <header-file src="src/ios/Beauty/VideoChatBeautyItem.h" />
        <header-file src="src/ios/Beauty/VideoChatSetView.h" />
        <header-file src="src/ios/Util/VideoChatRing.h" />
        <header-file src="src/ios/Util/UIAlertController+Additions.h" />
        <header-file src="src/ios/Util/UIView+AVCall.h" />
        <header-file src="src/ios/Util/XCDevicePermission.h" />
        <header-file src="src/ios/Util/XCWeakTimer.h" />

        <source-file src="src/ios/ChatCall.m" />
        <source-file src="src/ios/VideoChatInfo.m" />
        <source-file src="src/ios/VideoChatInstance.m" />
        <source-file src="src/ios/Beauty/VideoChatBeautyItem.m" />
        <source-file src="src/ios/Beauty/VideoChatSetView.m" />
        <source-file src="src/ios/Util/VideoChatRing.m" />
        <source-file src="src/ios/Util/UIAlertController+Additions.m" />
        <source-file src="src/ios/Util/UIView+AVCall.m" />
        <source-file src="src/ios/Util/XCDevicePermission.m" />
        <source-file src="src/ios/Util/XCWeakTimer.m" />

        <resource-file src="src/ios/resource/voip_call.caf" />

        <pods-config ios-min-version="9.0" use-frameworks="true"></pods-config>
        <pod name="AgoraRtcEngine_iOS" version="3.0.1" />
    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ChatCall">
                <param name="android-package" value="chat1v1.chatcall.ChatCall.ChatCall" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.CALL_PHONE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_LOGS"/>
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-feature android:name="android.hardware.Camera"/>
            <uses-feature android:name="android.hardware.camera.autofocus"/>
        </config-file>

        <!--三方库-->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>

        <!--lib-->
        <source-file src="src/android/libs/armeabi-v7a/libagora-crypto.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/armeabi-v7a/libagora-rtc-sdk-jni.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/agora-rtc-sdk.jar" target-dir="libs"/>

        <!--java 代码-->
        <source-file src="src/android/ChatCall.java" target-dir="src/chat1v1/chatcall/ChatCall" />
        <source-file src="src/android/ChatEntity.java" target-dir="src/chat1v1/chatcall/ChatCall"/>
        <source-file src="src/android/VideoChatPreview.java" target-dir="src/chat1v1/chatcall/ChatCall"/>
        <!--java 代码 presenter-->
        <source-file src="src/android/presenter/BasePresenter.java" target-dir="src/chat1v1/chatcall/ChatCall/presenter"/>
        <source-file src="src/android/presenter/IVideoChatAtView.java" target-dir="src/chat1v1/chatcall/ChatCall/presenter"/>
        <source-file src="src/android/presenter/VideoChatPresenter.java" target-dir="src/chat1v1/chatcall/ChatCall/presenter"/>
        <!--java 代码 util-->
        <source-file src="src/android/util/BackUtil.java" target-dir="src/chat1v1/chatcall/ChatCall/util"/>
        <source-file src="src/android/util/PermissionUtil.java" target-dir="src/chat1v1/chatcall/ChatCall/util"/>
        <source-file src="src/android/util/RingingUtil.java" target-dir="src/chat1v1/chatcall/ChatCall/util"/>
        <!--layout-->
        <resource-file src="src/android/layout/view_video_chat_preview.xml" target="res/layout/view_video_chat_preview.xml"/>
        <resource-file src="src/android/layout/layout_video_chat.xml" target="res/layout/layout_video_chat.xml"/>



    </platform>
</plugin>